* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  height: 100%;
}

